<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @box.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @box.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @box.amount %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
